.futured{
    &__wrapper{
    padding-top: 60px;
    }
&__cards{
    margin-top: 16px;
    padding: 7px 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
&__card:first-child{
    background: url("../assets/images/featureCard1.png") no-repeat center/cover;
}
&__card:nth-child(2){
    background: url("../assets/images/featureCard2.png") no-repeat center/cover;
}
&__card{
    height: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    h3{
        font-size: 27px;
        margin-bottom: 6px;
        font-weight: 300;
    }
    p{
        font-size: 14px;
        opacity: 0.7;
        font-weight: 200;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        span{
            font-size: 12px;
            opacity: 0.7;
            font-weight: 200;
        }
    }
    &__author{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
}


@media (max-width:768px) {
    .futured{
        &__cards{
            grid-template-columns: 1fr;
            padding: 0;
        }
    }
}