@font-face {
    font-family: Lora;
    src: url("../assets/fonts/Lora-Regular.ttf");
}
@font-face {
    font-family: Oxygen;
    src: url("../assets/fonts/Oxygen-Regular.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #F7F7F7;
}
img{
    max-width: 100%;
    max-height: 100%;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button,input{
    cursor: pointer;
    outline: none;
    border: none;
    background: #FFF;
}
h1,h2,h3,h4{
    font-family: Lora;
}
p,span,a{
    font-family: Oxygen;
}


.sContainer{
    max-width: 980px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.lContainer{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.cardTitle{
    max-width: 188px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 17px;
    text-align: center;
    border-bottom: 2px solid #DEDEDE;
    font-size: 20px;
}
.stayTitle{
    max-width: 188px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #DEDEDE;
    font-size: 25px;
    color: #fff;
}

@keyframes apper {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.blockAnimation {
    animation: apper linear;
    animation-timeline: view();
    animation-range: entry 0;
}