.recent{
    padding-top: 60px;
    &__cards{
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 6px 12px;
    }
    &__card{
        height: 291px;
        position: relative;
        background-color: #FCFCFC;
        &:hover{
            box-shadow: 0 0 10px #0002;
        }
        &:hover &__header img{
            transform: scale(1);
        }
        &__header{
            overflow: hidden;
            img{
                transform: scale(1.05);
                transition: .25s ease;
                width: 100%;
            }
        }
        &__body{
        padding: 14px 13px;
            h3{
                font-size: 16px;
                font-weight: 300;
            }
            p{
                margin-top: 6px;
                font-size: 13px;
                color: #7A7A7A;
            }
        }
        &__footer{
            padding: 0 13px;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 45px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #EFEFEF;
            span{
                font-size: 12px;
                color: #7A7A7A;
            }
        }
        &__author{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

@media (max-width:800px) {
    .recent{
        &__cards{
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
        }
    }
}
@media (max-width:550px) {
    .recent{
        &__cards{
            grid-template-columns: 1fr;
        }
        &__card{
            height: 370px;
        }
    }
}
@media (max-width:400px) {
    .recent{
        &__card{
            height: 300px;
        }
    }
}