.stay{
    margin-top: 100px;
    padding-top: 81px;
    min-height: 328px;
    width: 100%;
    background: url("../assets/images/stayBS.png") no-repeat center/cover;
    position: relative;
    &__input{
        display: flex;
        max-width: 500px;
        width: 100%;
        height: 50px;
        margin: 20px auto 0;
        input{
            flex: 1;
            text-indent: 35px;
            background: transparent;
        background: #fff;
        border-radius: 3px 0 0 3px;
        font-size: 12px;

        }
        button{
            background: #fff;
            opacity: 28%;
            font-size: 12px;
            padding: 12px 44px;
            border-radius: 0 3px 3px 0;
            transition: .25s ease;
            &:hover{
                opacity: 50%;

            }
        }
    }
}


@media (max-width:768px) {
    .stay{
        &__input{
            button{
                background: $main-color;
                opacity: 1;
                color: #fff;
                font-size: 14px;
            }
        }
    }
}